mixin svg-hover(data)
    .svg-hover
        .content
            h1.content__title Изменение цвета svg-иконок при hover
            p Смотри #[code common.styl] и #[code tars-config.js]
            p Генерация svg-спрайта - #[code "workflow": "symbols"] и #[code "loadingType": "inject"]
            p В #[code common.styl] включить #[code svg path { fill: inherit }] и #[code svg { transition: all .2s }]
        ul.list
            li.list__item
                != jadeHelpers.Icon.call(locals, {iconName: 'icon-01', className: 'list-icon'})
                p: a( href='#{js}' ) list item
            li.list__item
                != jadeHelpers.Icon.call(locals, {iconName: 'icon-02', className: 'list-icon'})
                p: a( href='#{js}' ) list item
            li.list__item
                != jadeHelpers.Icon.call(locals, {iconName: 'icon-01', className: 'list-icon'})
                p: a( href='#{js}' ) list item
            li.list__item
                != jadeHelpers.Icon.call(locals, {iconName: 'icon-02', className: 'list-icon'})
                p: a( href='#{js}' ) list item
            li.list__item
                != jadeHelpers.Icon.call(locals, {iconName: 'icon-01', className: 'list-icon'})
                p: a( href='#{js}' ) list item
            li.list__item
                != jadeHelpers.Icon.call(locals, {iconName: 'icon-02', className: 'list-icon'})
                p: a( href='#{js}' ) list item